:root {
    --primaryColor: #fff;
    --navColor1: #21292c;
    --navColor2: #aa3e39;
    --navColor3: #aa6e39;
    --navColor4: #236267;
    --navColor5: #2c8437;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}


/* --- Navigation Menu ------------------------------ */

nav {
    display: flex;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
    height: 40px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    position: relative;
}

li a {
    color: var(--primaryColor);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}




span a {
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 10px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 15px;
    
}

#overlay {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    z-index: 999;
   
    
}

#menuoverlay {
    top: 0;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
   
}
.slide-in{
    transform: translateX(0);
    transition: all 0.8s ease-in-out;
}

.slide-out{
    transform: translateX(-100vw);
    transition: all 0.8s ease-in-out;
}

li a:hover {
    color: #ffe2fe;
    border-radius: 50px;
    border: 1px solid rgb(32, 31, 31);
    padding: 5px 8px;
    background-color: rgb(163, 162, 162);
    
}


/* --- Menu Bars ------------------------------------ */

.Bars {
    position: absolute;
    top: 1rem;
    right:5px;
    display: inline;
    cursor: pointer;
    visibility: hidden;
    z-index: 100;
    
    

}

.bar1,
.bar2,
.bar3 {
    width: 27px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}


/* --- Sections ------------------------------------ */

section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
}

section#home {
    background-image: url("https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    min-height:100vh;
}

section#home a {}

section#about {
    background-color: var(--navColor2);
}

section#skills {
    background-color: var(--navColor3);
}

section#projects {
    background-color: var(--navColor4);
}

section#contact {
    background-color: var(--navColor5);
}


/* Media Query: Large Smartphone (Vertical) */

@media (max-width: 670px) {
    section#home a {
        top: 1rem;
        left: 1rem;
    }
    .menu-bars {
        top: 0.5rem;
        right: 1rem;
        z-index: 999;
    }
    nav {
        z-index: 9;
        justify-content: space-between;
        
    }
    ul {
        display: flex;
        flex-direction: column;
        margin-top: -17px;
        min-height: 107vh;
        align-items: stretch;
        width: 100%;
        margin-left: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }
    ul li {
        height: 19%;
        margin: 0 0;
    }
    li a:hover {
        background-color: inherit;
        border: none;
        transform: scale(1.05);
    }
    li::before{
        content: "";
        position: absolute;
        left: 0;
        top: 45%;
        width: 30%;
        background-color: #ffe2fe;
        height: 3px;
        opacity: 0;
    }
    
    li::after{
        content: "";
        position: absolute;
        right: 0;
        top: 45%;
        width: 30%;
        background-color: #ffe2fe;
        height: 3px;
        opacity: 0;
    }
    li:hover::before{
        opacity: 1;
    }
    
    li:hover::after{
        opacity: 1;
    }
    span a {
        position: absolute;
        left: 5px;
        top: 5px;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .Bars {
        visibility: visible;
        margin-right: 12px;
    }
    #menuoverlay {
        width: 100vw;
       
        
      
    }
    #overlay {
        background-color: rgb(0, 0, 0, );
        z-index: 9;
    }
    ul li:nth-of-type(1) {
        background-color: var(--navColor1);
        opacity: 0.8;
     }
    ul li:nth-of-type(2) {
        background-color: var(--navColor2);
        opacity: 0.8;
           }
    ul li:nth-of-type(3) {
        background-color: var(--navColor3);
        opacity: 0.8;
       
    }
    ul li:nth-of-type(4) {
        background-color: var(--navColor4);
        opacity: 0.8;
       
    }
    ul li:nth-of-type(5) {
        background-color: var(--navColor5);
        opacity: 0.8;
       
    }


    

}
